<ion-header>
  <ion-toolbar>
    <ion-title>Comunicação Divina</ion-title>
    <ion-buttons slot="primary" class="navbar-header">
      <ion-button [routerLink]="['/inicio']">Inicio</ion-button>
      <ion-button [routerLink]="['/religioes']">Religiões</ion-button>
      <ion-button [routerLink]="['/mapa']">Mapa</ion-button>
      <ion-button [routerLink]="['/criar-evento']">Criar Evento</ion-button>
      <ion-button [routerLink]="['/conta']">Conta</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center">Jeová</p>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="help-circle"></ion-icon>
        <ion-label>O que é?</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>
            O Jeová é o nome dado a Deus pelos seguidores das Testemunhas de
            Jeová, uma denominação cristã fundada no final do século XIX nos
            Estados Unidos. Os seguidores das Testemunhas de Jeová enfatizam a
            importância de estudar a Bíblia e seguir seus ensinamentos, bem como
            a pregação do evangelho e a abstinência de práticas que consideram
            pecaminosas.
          </p>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <ion-icon slot="start" name="information-circle"></ion-icon>
        <ion-label>Quais os principais templos:</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>
            Salão do Reino das Testemunhas de Jeová (distribuídos em diferentes
            bairros do estado)
          </p>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <ion-icon slot="start" name="bulb"></ion-icon>
        <ion-label>Curiosidades:</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>
            Os Testemunhas de Jeová são uma denominação cristã que foi fundada
            nos Estados Unidos no final do século XIX.
          </p>
          <p>
            Os Testemunhas de Jeová acreditam que apenas 144.000 pessoas serão
            salvas e que esses indivíduos serão governantes com Cristo no céu.
          </p>
          <p>
            Os Testemunhas de Jeová não participam de festividades como
            aniversários, Natal e Páscoa, pois consideram essas celebrações como
            pagãs.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="navbar-footer">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/religioes']">
          <ion-icon name="star" aria-hidden="true"></ion-icon>
          <ion-label>Religiões</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/mapa']">
          <ion-icon name="map" aria-hidden="true"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/conta']">
          <ion-icon name="person" aria-hidden="true"></ion-icon>
          <ion-label>Conta</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/criar-evento']">
          <ion-icon name="calendar-number" aria-hidden="true"></ion-icon>
          <ion-label>Criar Evento</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
