<ion-header>
  <ion-toolbar>
    <ion-title>Comunicação Divina</ion-title>
    <ion-buttons slot="primary" class="navbar-header">
      <ion-button [routerLink]="['/inicio']">Inicio</ion-button>
      <ion-button [routerLink]="['/religioes']">Religiões</ion-button>
      <ion-button [routerLink]="['/mapa']">Mapa</ion-button>
      <ion-button [routerLink]="['/criar-evento']">Criar Evento</ion-button>
      <ion-button [routerLink]="['/conta']">Conta</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center">Judaísmo</p>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="help-circle"></ion-icon>
        <ion-label>O que é?</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>
            O judaísmo é uma das religiões mais antigas do mundo, com mais de 14
            milhões de seguidores. É baseado na crença em um Deus único e na
            importância da Torá, que é a lei e os ensinamentos religiosos do
            povo judeu. O judaísmo enfatiza a importância do cumprimento dos
            mandamentos divinos, incluindo o Shabbat, o dia sagrado de descanso
            e adoração.
          </p>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <ion-icon slot="start" name="information-circle"></ion-icon>
        <ion-label>Quais os principais templos:</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>Sinagoga Beit Lubavitch (Rio de Janeiro)</p>
          <p>Sinagoga Beit Yaacov (Rio de Janeiro)</p>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <ion-icon slot="start" name="bulb"></ion-icon>
        <ion-label>Curiosidades:</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>
            O judaísmo é uma das religiões mais antigas do mundo, tendo se
            originado na região do Oriente Médio há mais de 3.000 anos.
          </p>
          <p>
            Os judeus acreditam em um único Deus e que Abraão, Moisés e Davi são
            alguns dos principais profetas de Deus.
          </p>
          <p>
            A cidade sagrada de Jerusalém é o local mais importante para os
            judeus e é onde o Templo de Salomão, o local mais sagrado do
            judaísmo, foi construído.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="navbar-footer">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/religioes']">
          <ion-icon name="star" aria-hidden="true"></ion-icon>
          <ion-label>Religiões</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/mapa']">
          <ion-icon name="map" aria-hidden="true"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/conta']">
          <ion-icon name="person" aria-hidden="true"></ion-icon>
          <ion-label>Conta</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/criar-evento']">
          <ion-icon name="calendar-number" aria-hidden="true"></ion-icon>
          <ion-label>Criar Evento</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
