<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title><strong>Espírita</strong></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-icon slot="start" name="checkbox"></ion-icon>
        <ion-label><strong>O que é?</strong></ion-label>
      </ion-item>

      <ion-card-content>
        O espiritismo é uma religião que se originou na França no século XIX,
        baseada na crença em espíritos e na comunicação com os mortos. Os
        espíritas acreditam que a vida continua após a morte e que os espíritos
        podem influenciar a vida das pessoas. A religião enfatiza a caridade, a
        reforma íntima e a busca pela evolução espiritual.
      </ion-card-content>

      <ion-item>
        <ion-icon slot="start" class="bi bi-bank"></ion-icon>
        <ion-label>Quais os principais templos:</ion-label>
      </ion-item>

      <ion-card-content
        >- Federação Espírita do Estado do Rio de Janeiro (Rio de
        Janeiro)</ion-card-content
      >
      <ion-card-content
        >- Grupo Espírita Luz e Amor (Petrópolis, Rio de
        Janeiro)</ion-card-content
      >

      <ion-item>
        <ion-icon slot="start" name="bulb"></ion-icon>
        <ion-label>Curiosidades:</ion-label>
      </ion-item>

      <ion-card-content>
        O Espiritismo é uma religião fundada na França por Allan Kardec no
        século XIX.
      </ion-card-content>
      <ion-card-content
        >Os praticantes do Espiritismo acreditam na existência de espíritos que
        podem se comunicar com os vivos através de médiuns.</ion-card-content
      >
      <ion-card-content
        >O Espiritismo também enfatiza a importância da caridade e da vida
        virtuosa como caminhos para a evolução espiritual.</ion-card-content
      >
      <ion-card-content
        >O Brasil é o país com o maior número de espíritas no
        mundo.</ion-card-content
      >
    </ion-content>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home" aria-hidden="true"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/religioes']">
          <ion-icon name="star" aria-hidden="true"></ion-icon>
          <ion-label>Religiões</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/mapa']">
          <ion-icon name="map" aria-hidden="true"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/conta']">
          <ion-icon name="person" aria-hidden="true"></ion-icon>
          <ion-label>Conta</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
