<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title><strong>iSenac</strong> - Reciclagem</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list-header>
        <ion-label>Inicio</ion-label>
      </ion-list-header>
        <ion-item>
          <ion-icon slot="start"  name="checkbox"></ion-icon>
          <ion-label><strong>O que é?</strong></ion-label>
        </ion-item>
        <ion-card-content>Reciclagem é o processo de conversão de desperdício em materiais ou produtos de potencial utilidade. Este processo permite reduzir o consumo de matérias-primas, de utilização de energia e a poluição do ar e da água, ao reduzir também a necessidade de tratamento convencional de lixo e a emissão de gases do efeito estufa.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="bookmarks"></ion-icon>
          <ion-label>Sobre o Aplicativo</ion-label>
        </ion-item>
        <ion-card-content>Este aplicativo é destinado ao público de todas as idades com o objetivo de conscientizá-los sobre a reciclagem a fim de amenizar os impactos ambientais causados pelo descarte incorreto de materiais presente no mundo.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="list"></ion-icon>
          <ion-label>Sobre o Senac</ion-label>
        </ion-item>
        <ion-card-content>O Serviço Nacional de Aprendizagem Comercial (Senac) é uma instituição brasileira de educação profissional aberta a toda a sociedade. Foi criado em 10 de janeiro de 1946 através do decreto-lei 8.621. É uma entidade privada com fins públicos que recebe contribuição compulsória das empresas do comércio e de atividades assemelhadas.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="people"></ion-icon>
          <ion-label>Sobre a Equipe</ion-label>
        </ion-item>
        <ion-card-content>O <strong>4F Group</strong> é composto por quatro membros:<strong> Gabriela Rosa, Pedro H. Motta, Thalis Mateus e Raphael Moreira</strong>. Os dois primeiros colocam em prática a parte do front-end e os dois últimos cuidam do back-end.</ion-card-content>
    </ion-content>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/home']">
          <ion-icon name="power" aria-hidden="true"></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/material']">
          <ion-icon name="leaf" aria-hidden="true"></ion-icon>
          <ion-label>Material Reciclável</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/mapa']">
          <ion-icon name="map" aria-hidden="true"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/conta']">
          <ion-icon name="person" aria-hidden="true"></ion-icon>
          <ion-label>Conta</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>