<ion-header>
  <ion-toolbar>
    <ion-title>Comunicação Divina</ion-title>
    <ion-buttons slot="primary" class="navbar-header">
      <ion-button [routerLink]="['/inicio']">Inicio</ion-button>
      <ion-button [routerLink]="['/religioes']">Religiões</ion-button>
      <ion-button [routerLink]="['/mapa']">Mapa</ion-button>
      <ion-button [routerLink]="['/criar-evento']">Criar Evento</ion-button>
      <ion-button [routerLink]="['/conta']">Conta</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center">Católica</p>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="help-circle"></ion-icon>
        <ion-label>O que é?</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>
            O catolicismo é uma das maiores religiões do mundo, com mais de 1
            bilhão de adeptos. É baseada na crença em um Deus trino (Pai, Filho
            e Espírito Santo), na vida e ensinamentos de Jesus Cristo e na
            autoridade do Papa como líder da Igreja Católica. Os católicos
            seguem uma série de rituais, sacramentos e tradições.
          </p>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <ion-icon slot="start" name="information-circle"></ion-icon>
        <ion-label>Quais os principais templos:</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>Catedral de São Sebastião (Rio de Janeiro)</p>
          <p>Igreja da Penha (Rio de Janeiro)</p>
          <p>Basílica de Nossa Senhora da Conceição (Niterói)</p>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <ion-icon slot="start" name="bulb"></ion-icon>
        <ion-label>Curiosidades:</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>
            A Igreja Católica é a maior denominação cristã do mundo, com mais de
            1,3 bilhão de membros.
          </p>
          <p>
            >A Igreja Católica acredita na Santíssima Trindade, que é a crença
            de que Deus existe como três pessoas: o Pai, o Filho e o Espírito
            Santo.
          </p>
          <p>
            A Igreja Católica tem sete sacramentos: batismo, confirmação,
            eucaristia, penitência, unção dos enfermos, ordem e matrimônio.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="navbar-footer">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/religioes']">
          <ion-icon name="star" aria-hidden="true"></ion-icon>
          <ion-label>Religiões</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/mapa']">
          <ion-icon name="map" aria-hidden="true"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/conta']">
          <ion-icon name="person" aria-hidden="true"></ion-icon>
          <ion-label>Conta</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/criar-evento']">
          <ion-icon name="calendar-number" aria-hidden="true"></ion-icon>
          <ion-label>Criar Evento</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
