<ion-header>
  <ion-toolbar>
    <ion-title>Comunicação Divina</ion-title>
    <ion-buttons slot="primary" class="navbar-header">
      <ion-button [routerLink]="['/inicio']">Inicio</ion-button>
      <ion-button [routerLink]="['/religioes']">Religiões</ion-button>
      <ion-button [routerLink]="['/mapa']">Mapa</ion-button>
      <ion-button [routerLink]="['/criar-evento']">Criar Evento</ion-button>
      <ion-button [routerLink]="['/conta']">Conta</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center">Criar Evento</p>
  <ion-card class="ion-padding">
    <form>
      <ion-item>
        <ion-label position="stacked">Religião *</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nome do Evento *</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Endereço *</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Data *</ion-label>
        <ion-input type="date" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Senha *</ion-label>
        <ion-input type="password" required minlength="8"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descrição do Evento</ion-label>
        <ion-textarea name="descricao" rows="5"></ion-textarea>
      </ion-item>

      <ion-button expand="block" type="submit">Enviar</ion-button>
    </form>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="navbar-footer">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home" aria-hidden="true"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/religioes']">
          <ion-icon name="star" aria-hidden="true"></ion-icon>
          <ion-label>Religiões</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/mapa']">
          <ion-icon name="map" aria-hidden="true"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/conta']">
          <ion-icon name="person" aria-hidden="true"></ion-icon>
          <ion-label>Conta</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/criar-evento']">
          <ion-icon name="calendar-number" aria-hidden="true"></ion-icon>
          <ion-label>Criar Evento</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
