<ion-header>
  <ion-toolbar>
    <ion-title>Comunicação Divina</ion-title>
    <ion-buttons slot="primary" class="navbar-header">
      <ion-button [routerLink]="['/inicio']">Inicio</ion-button>
      <ion-button [routerLink]="['/religioes']">Religiões</ion-button>
      <ion-button [routerLink]="['/mapa']">Mapa</ion-button>
      <ion-button [routerLink]="['/criar-evento']">Criar Evento</ion-button>
      <ion-button [routerLink]="['/conta']">Conta</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center">Umbanda</p>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="help-circle"></ion-icon>
        <ion-label>O que é?</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>
            A Umbanda é uma religião de origem afro-brasileira que se
            desenvolveu no início do século XX. É baseada na crença em orixás e
            em espíritos de ancestrais e guias espirituais que podem ajudar as
            pessoas em suas vidas. A Umbanda enfatiza a prática de rituais,
            cantos e oferendas aos espíritos e busca ajudar as pessoas em suas
            necessidades espirituais e materiais.
          </p>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <ion-icon slot="start" name="information-circle"></ion-icon>
        <ion-label>Quais os principais templos:</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>Casa de Caridade Pai Jacob do Oriente (Rio de Janeiro)</p>
          <p>
            Centro Espírita Pai João de Angola (Nova Iguaçu, Rio de Janeiro)
          </p>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <ion-icon slot="start" name="bulb"></ion-icon>
        <ion-label>Curiosidades:</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>
            A Umbanda é uma religião afro-brasileira que se originou no início
            do século XX no Brasil.
          </p>
          <p>
            A Umbanda é uma religião que mistura elementos do espiritismo, do
            catolicismo e das religiões africanas.
          </p>
          <p>
            A Umbanda enfatiza a importância da caridade e do auxílio aos
            necessitados como parte da prática religiosa.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="navbar-footer">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/religioes']">
          <ion-icon name="star" aria-hidden="true"></ion-icon>
          <ion-label>Religiões</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/mapa']">
          <ion-icon name="map" aria-hidden="true"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/conta']">
          <ion-icon name="person" aria-hidden="true"></ion-icon>
          <ion-label>Conta</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/criar-evento']">
          <ion-icon name="calendar-number" aria-hidden="true"></ion-icon>
          <ion-label>Criar Evento</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
