<ion-header>
  <ion-toolbar>
    <ion-title>Comunicação Divina</ion-title>
    <ion-buttons slot="primary" class="navbar-header">
      <ion-button [routerLink]="['/inicio']">Inicio</ion-button>
      <ion-button [routerLink]="['/religioes']">Religiões</ion-button>
      <ion-button [routerLink]="['/mapa']">Mapa</ion-button>
      <ion-button [routerLink]="['/criar-evento']">Criar Evento</ion-button>
      <ion-button [routerLink]="['/conta']">Conta</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center">Islamismo</p>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="help-circle"></ion-icon>
        <ion-label>O que é?</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>
            O islamismo é uma religião monoteísta que se originou na Arábia no
            século VII. É baseada na crença em um único Deus, Alá, e na vida e
            ensinamentos de Maomé, seu profeta. Os muçulmanos seguem os Cinco
            Pilares do Islã, que incluem a declaração de fé, a oração diária, a
            caridade, o jejum durante o mês do Ramadã e a peregrinação a Meca.
          </p>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <ion-icon slot="start" name="information-circle"></ion-icon>
        <ion-label>Quais os principais templos:</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>Mesquita do Rio de Janeiro (Rio de Janeiro)</p>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <ion-icon slot="start" name="bulb"></ion-icon>
        <ion-label>Curiosidades:</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <p>
            O Islã é a segunda maior religião do mundo, com mais de 1,8 bilhão
            de seguidores.
          </p>
          <p>
            Os muçulmanos acreditam em um único Deus, Alá, e que o profeta Maomé
            é seu mensageiro.
          </p>
          <p>
            A cidade sagrada de Meca, na Arábia Saudita, é o local de
            peregrinação mais importante para os muçulmanos.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="navbar-footer">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/religioes']">
          <ion-icon name="star" aria-hidden="true"></ion-icon>
          <ion-label>Religiões</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/mapa']">
          <ion-icon name="map" aria-hidden="true"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/conta']">
          <ion-icon name="person" aria-hidden="true"></ion-icon>
          <ion-label>Conta</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/criar-evento']">
          <ion-icon name="calendar-number" aria-hidden="true"></ion-icon>
          <ion-label>Criar Evento</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
