  
  input[type="date"] {
    width: 60%;
    
}

.downinfo{
    text-align: center;
}
  
.logonav{
  width: 5%;
}  

.col-sm-10{
  text-align: center;
  
}

body.login{
  background-color: #2a1a00;
  
}

label {
  color: black;
}

body.index{
  background-color: #2a1a00;
  
}

.conteiner-fluid {
  background-color: #f8b323; 
  
}

.formlogin{
  background-color: #f8b323;
  border-radius: 2em;
  text-align: center;
  margin-top: 10%;
}

.form-label, .form-check-label{
  color: black;
  font-weight: bolder;
}

label.floatingSelect{
  color: black;
}

.checks-wrapper {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
}

body.religiões{
  background-color: #f8b323;
  
}

