.loginlogo {
    text-align: center;
  }
  
  input[type="email"] {
    width: 50%;
  }
  
  input[type="password"] {
    width: 50%;
  }
  
  input[type="date"] {
    width: 50%;
}

.downinfo{
    text-align: center;
}
  
.logonav{
  width: 7%;
}  