<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title><strong>Budismo</strong></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-icon slot="start" name="checkbox"></ion-icon>
        <ion-label><strong>O que é?</strong></ion-label>
      </ion-item>
      <ion-card-content>
        O budismo é uma religião que se originou na Índia e se baseia nas
        ensinamentos de Buda, um líder espiritual que viveu há mais de 2.500
        anos. O budismo enfatiza a compaixão, a meditação e a busca pela
        iluminação ou nirvana, que é a liberação do sofrimento e do ciclo de
        renascimentos.
      </ion-card-content>
      <ion-item>
        <ion-icon slot="start" class="bi bi-bank"></ion-icon>
        <ion-label>Quais os principais templos:</ion-label>
      </ion-item>

      <ion-card-content
        >- Templo Zu Lai (Cotia, Rio de Janeiro)</ion-card-content
      >

      <ion-item>
        <ion-icon slot="start" name="bulb"></ion-icon>
        <ion-label>Curiosidades:</ion-label>
      </ion-item>

      <ion-card-content>
        O budismo se originou na Índia no século VI a.C. e foi fundado pelo
        príncipe Siddhartha Gautama, também conhecido como Buda.
      </ion-card-content>
      <ion-card-content
        >Existem duas principais escolas do budismo: Mahayana e
        Theravada.</ion-card-content
      >
      <ion-card-content
        >O Dalai Lama é o líder espiritual do budismo
        tibetano.</ion-card-content
      >
      <ion-card-content
        >Uma das principais práticas do budismo é a meditação, que é usada para
        alcançar a iluminação e a paz interior.</ion-card-content
      >
    </ion-content>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home" aria-hidden="true"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/religioes']">
          <ion-icon name="star" aria-hidden="true"></ion-icon>
          <ion-label>Religiões</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/mapa']">
          <ion-icon name="map" aria-hidden="true"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/conta']">
          <ion-icon name="person" aria-hidden="true"></ion-icon>
          <ion-label>Conta</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
